# This file is executed in a loop based on the number of elements
# found in the `bitcoin_pgp_builders_pub_key` structure. Be sure to move
# away from this file common tasks like setting facts, install dependencies, etc
---
- name: "Bitcoind | Ensure Bitcoin PGP public key is added for user {{ gpg_user }}"
  ansible.builtin.command:
    cmd: >
      gpg --keyring {{ gpg_home_dir }}/bitcoin-v{{ bitcoin_version }}-{{ gpg_user }}.gpg
      --no-default-keyring --keyserver keys.openpgp.org --recv-keys {{ gpg_id }}
    creates: "{{ gpg_home_dir }}/bitcoin-v{{ bitcoin_version }}-{{ gpg_user }}.gpg"

- name: "Bitcoind | Ensure tmp directory exists /tmp/gpg-{{ gpg_user }}"
  ansible.builtin.file:
    path: /tmp/gpg-{{ gpg_user }}
    state: directory
    mode: '700'

- name: "Bitcoind | Download all.SHA256SUMS.asc for user {{ gpg_user }}"
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/bitcoin-core/guix.sigs/main/{{ bitcoin_version }}/{{ gpg_user }}/all.SHA256SUMS.asc
    dest: /tmp/gpg-{{ gpg_user }}/all.SHA256SUMS.asc
    http_agent: yourbtc-ansible
    mode: '700'

- name: "Bitcoind | Verify GPG signature using for {{ gpg_user }}"
  ansible.builtin.command: >
    gpg --keyring {{ gpg_home_dir }}/bitcoin-v{{ bitcoin_version }}-{{ gpg_user }}.gpg
    --no-default-keyring --verify /tmp/gpg-{{ gpg_user }}/all.SHA256SUMS.asc /tmp/SHA256SUMS
  changed_when: false
